/* -------------------------- GLOBAL STYLES -------------------------- */
a {
  color: #f00;
}
body {
  font-family: helvetica, arial, sans;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}

/* -------------------------- HEADER STYLES -------------------------- */

.header-logo:hover,
.header-logo:active {
  opacity: 0.5;

}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  color: #000;
}
.header-nav a {
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header-nav a:hover,
.header-nav a:active {
  color: #ed6e2f;
}

/* -------------------------- HERO STYLES -------------------------- */
.full-hero {
  background-color: #c7dbfc;
  height: 50vh;
}

/* -------------------------- SOCIAL STYLES -------------------------- */
.social-link {
  background: rgba(150, 150, 150, .5);
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff; /* color: white */
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}
.social-link:hover,
.social-link:active {
  background: #ed6e2f;
}
.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}

/* -------------------------- BIO STYLES -------------------------- */
.bio-box {
  border: 1px solid #000;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  padding: 2%;
  width: 23%;
}
.bio-box h3 {
  color: #fff;
  font-size: 1.5em;
  margin: -40px 0 1em;
  text-align: center;
}
.bio-box img {
  width: 100%;
}
.bio-box .social-link {
  display: block;
  margin: 2em 0 1em;
}
.bio-copy{
  font-size: 1em;
  line-height: 1.5;
}
.bio-copy a {
  color: #008000; /* color: green */
}
.bio-wrapper {
  font-size: 24px;
  overflow: hidden;
  max-width: 960px;
  margin: auto;
}
.bio-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  margin: 0 auto 30px;
}

/* .centering-test {
  margin: auto;
  width: inherit;
  display: block;
  text-align: center;
} */

/* THROWAWAY STYLES */
/* .test-box {
  background: #9db6dd;
  margin: 50px;
  width: 200px;
}
.test-box-nosizing {
  border: 10px solid #000;
  padding: 40px;
}
.test-box-sizing {
  box-sizing: border-box;
  margin-top: 100px;
  width: auto;
} */
